<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Opinion Spam Detector</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/business-casual.min.css" rel="stylesheet">

    <!-- Load Favicon -->
    <link rel="icon" type="image/png" href="../static/img/favicon.png" sizes="120x120">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Review Hound</span>
      <span class="site-heading-lower">Let Us Help You Sniff Out Fake Hotel Reviews</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="sniffer.html">Review Hound</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">Learn About Opinion Fraud</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="sniffer.html">Review Analyzer</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <!-- <video class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://gcs-vimeo.akamaized.net/exp=1522535172~acl=%2A%2F765836058.mp4%2A~hmac=f1b14dd1773a456ed4776facde773868dcf6410928725f45502c5f98cfb35180/vimeo-prod-skyfire-std-us/01/4017/8/220088150/765836058.mp4" autoplay="" loop=""></video> -->
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../static/img/intro.jpg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Opinion Fraud</span>
              <span class="section-heading-lower">Find Reliable Hotel Reviews</span>
            </h2>
            <p class="mb-3">Review Hound helps you sniff out fake reviews made to maliciously influence your buying decisions
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="sniffer.html">Sniff a Review</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Promise</span>
                <span class="section-heading-lower">To You</span>
              </h2>
              <p class="mb-0">When spending money on a hard earned vacation, we believe everyone is entitled to honest reviews. With a sophisticated algorithm, we analyze speech patterns and identify potentionally malicious fraudulent hotel reviews.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
